@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* ------------------- hero ------------------------------ */
.hero{
    background-color: rgb(0, 0, 0);
    background-position: center;
    width: 100%;
    height: 100vh;
    background-color: #2b2b2b;
}
/* ---------- full-page game image container -------------- */
#pageContainer {
    width: 100%;
    height: 100%;

}
/* ------------ Game screen container ------------------- */
#screenContainer{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
/* ------------------- Actual Screen ------------------------------ */
#screenContainer #screen{
    height: 90%;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-around;

    background-color: #222;
    box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.2),
                inset 0 2px 2px rgba(0, 0, 0, 0.2),
                inset 0 -1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 40px;
}

/* ------------------- Screen Top (thirst, hunger, happiness bars) ------------------------------ */
#screen #screenTop{
    height: 10%;
    width: 90%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;

    box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.2),
                inset 0 2px 2px rgba(0, 0, 0, 0.2),
                inset 0 -1px 1px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#screenTop .canvas1, #screenTop .canvas2, #screenTop .canvas3{
    width: 32%;
}
/* ----------------- Screen Second Top ----------------------- */
#screen #screenSecondTop{
    width: 90%;
    height: 7.5%;
    color: white;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

    box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.2),
                inset 0 2px 2px rgba(0, 0, 0, 0.2),
                inset 0 -1px 1px rgba(0, 0, 0, 0.2);
}
/* ----------------- Screen Second Top (status banner -  fixed) ----------------------- */
#screenSecondTop #statusBanner{
    font-size: 14px;
    color: white;
    
}
/* ----------------- Screen Second Top (status banner - variable) ----------------------- */
#screen #statusBanner #status{
    margin-left: 10px;
    width: 80%;
    font-size: 13px;
}
/* ----------------- Screen Middle (image containers)----------------------- */
#screen #screenMiddle{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    height: 60%;
    width: 90%;

    background-color: #222;
    box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.2),
                inset 0 2px 2px rgba(0, 0, 0, 0.2),
                inset 0 -1px 1px rgba(0, 0, 0, 0.2);
}
/* ----------------- Screen Middle (3 image container boxes) ----------------------- */
#screenMiddle #screenLeft, #screenMiddle #screenCenter, #screenMiddle #screenRight{
    height: 90%;
    flex: 1 0 1;
    width: 30%;
    display:flex;
    justify-content: center;
    align-content: center;

}
#screenMiddle #screenRightMenu{
    height: 90%;
    flex: 1 0 1;
    width: 30%;
    display:flex;
    justify-content: center;
    align-content: center;
    transition: transform ease-in-out 200ms;
    border: 2px solid white;
    background-color: white;
    /* background-image: url(images/menuBackground.png);
    background-size: cover;
    background-color: none; */
}
#screenMiddle #screenLeft{
    background-image: url(images/background6.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
#screenMiddle #screenCenter{
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
#screenMiddle #screenRight{
    background-image: url(images/background5.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* ----------------- Screen Bottom ----------------------- */
#screenBottom{
    width: 90%;
    height: 10%;
    align-self: center;
    font-size: 18px;

    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    
    box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.2),
                inset 0 2px 2px rgba(0, 0, 0, 0.2),
                inset 0 -1px 1px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
/* ----------------- Action Buttons ----------------------- */
#screenBottom #foodPet, #screenBottom #drinkPet, #screenBottom #playPet{
    width: 24%;
    height: 50%;
    border-radius: 10px;
    cursor: pointer;
    
    background: linear-gradient(to bottom , #444, #222);
    color: white;
}
#screenBottom label{
    position: relative;
    width: 10%;
    height: 50%;
    border-radius: 40px;
    cursor: pointer;

    box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.2),
                inset 0 2px 2px rgba(0, 0, 0, 0.2),
                inset 0 -1px 1px rgba(0, 0, 0, 0.2);
    
    background: linear-gradient(to bottom , #444, #222);
    color: white;
}
#screenBottom label input {
    appearance: none;
    display: none;
}
#screenBottom label span {
    position: relative;
    display: block;
}
#screenBottom label .indicator{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 40px;
    height: 40px;
    background: linear-gradient(to bottom , #444, #222);
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5),
                inset 0 1px 1px rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    transform: scale(0.9);
}
#screenBottom label input:checked ~ .indicator{
    left: 80px;
}
#screenBottom label .indicator::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    background: #f00;
    border-radius: 50%;
    box-shadow: 0 0 2px #f00,
                0 0 5px #f00,
                0 0 10px #f00,
                0 0 15px #f00,
                0 0 20px #f00,
                0 0 25px #f00,
                0 0 30px #f00;
}
#screenBottom label input:checked ~ .indicator::before{
    background: #0f0;
    border-radius: 50%;
    box-shadow: 0 0 2px #0f0,
                0 0 5px #0f0,
                0 0 10px #0f0,
                0 0 15px #0f0,
                0 0 20px #0f0,
                0 0 25px #0f0,
                0 0 30px #0f0;
}
/* ----------------- action button Hover animations ----------------------- */
#screenBottom #foodPet:hover, #screenBottom #drinkPet:hover, #screenBottom #playPet:hover {
    color: green;
    text-shadow: 2px rgba(26, 208, 9, 0.2),
                2px rgba(26, 208, 9, 0.2);
}

.talent-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    width: 90%;
    height: 40%;

}
.talent-row .talent-choice{
    background-color: grey;
    border:4px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 75%;

}
.talent-row .talent-choice .choice{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 90%;
}
/* .talent-row .talent-choice .choice:hover{
    transform: scale(1.11);
    border: 3px solid blue;
    transition: transform 0.5s ease-in-out;
    
} */

.talent-row .talent-choice .choice span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px; 
    border: 2px solid green;
    width: 95%;
    height: 30%;
}

